$mainColor:  #fcc204
  
.AppLogo 
  
  display: grid
  justify-items: start
  height: 15vh

.AppHeader
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  background-color: $mainColor
  min-height: 10vh
  color: white
  .NavMenu
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-column: 2/5
    background: $mainColor
    button
      background: $mainColor
      border: 0px
      &:hover 
        background: white
      &:active 
        background: white
  

  .phone
    font-size: 20px
    color: #2e2d2d

